<div class="header-text">ABOUT</div>
  <div class="container">
    <div class="section">

      <!--   Icon Section   -->
      <div class="row">
        <div class="col-md-4">
          <div class="icon-block" align="center">
            <h2 class="center brown-text"><i class="fa fa-map-pin"></i></h2>
            <h3 class="center" align="center">Wander</h3>

            <p class="light">Wander is a simple app that keeps track of your favorite photos and travel destinations. Do you love to travel? Then this is the app for you!</p>
          </div>
        </div>

        <div class="col-md-4">
          <div class="icon-block" align="center">
            <h2 class="center brown-text"><i class="fa fa-globe"></i></h2>
            <h3 class="center" align="center">Travel</h3>

            <p class="light">Do you love to travel? Do you want to share your favorite travel destinations, stories, and photos with friends? Keep track and continue wandering!</p>
          </div>
        </div>

        <div class="col-md-4">
          <div class="icon-block" align="center">
            <h2 class="center brown-text"><i class="fa fa-map"></i></h2>
            <h3 class="center" align="center">Passport</h3>

            <p class="light">Your passport holds all your favorite photos and travel destinations in one place. Keep stamping your passport and add more and more destinations, keeping track of some of your favorite memories!</p>
          </div>
        </div>
      </div>
