<div class="header-text"><h1>Add to Passport</h1>
<div class="fade-in"><i class="fa fa-book"></i></div>
</div>
  <div class="container">
    <form ng-submit="createStory()">
    <div class="form-group">
    <label for="title">Title</label>
    <input type="text" class="form-control" id="title" ng-model="story.title">
  </div>
    <div class="form-group">
    <label for="location">Location</label>
    <input type="text" class="form-control" id="location" ng-model="story.location">
  </div>
  <div class="form-group">
    <label for="description">Description</label>
    <textarea class="form-control" id="description" ng-model="story.description"></textarea>
  </div>
  <center>
  <div class="header-text3">
  <a ng-click="uploadPhoto()" return false><i class="fa fa-camera-retro"></i>Upload Photo</a></div>
  <button type="submit" class="btn btn-primary" align="center">Submit</button>
</form>
</center>
</div>