<div class="container" ng-controller="ShowAllCtrl">
    <div class="fade-in"><div class="header-text">Passport</div><br></div>
    <div class="header-text3">My adventures</div>

<div class="row">
  <div class="col-md-4" ng-repeat="story in storys  track by $index">
<!--   <a ng-href="{{story.permalink}}" target="_blank"><h1>{{recipe.name}}</h1></a><br> -->
    <div class="header-text3">{{story.title}}</div>
        <a ng-href="/storys/{{story._id}}"><img id="img" class="img-thumbnail" ng-src="{{story.imageUploadUrl}}"></a>
        <a ng-click="deleteStory(story._id, $index)" class="btn btn-danger glyphicon glyphicon-trash pull-right" id="trash"></a>
      </div>
  </div>
</div>