<div class="container" ng-controller="ShowAllCtrl">
    <div class="header-text">Passport</div>

<div class="row">
  <div class="col-md-4" ng-repeat="story in storys  track by $index" ng-href="{{story._id}}">
<!--   <a ng-href="{{story.permalink}}" target="_blank"><h1>{{recipe.name}}</h1></a><br> -->
    <h4>{{story.title}}</h4>
      <img id="img" class="img-responsive" ng-src="{{story.imageUploadUrl}}" border="10px">
    <a ng-click="deleteStory(story._id, $index)" class="btn btn-danger glyphicon glyphicon-trash pull-right" id="trash"></a>
  </div>
</div>