<ng-controller="ShowCtrl">
	<div class="header-text2">{{story.title}}</div>
		<div class="container" ng-repeat="story in storys | filter:{title:search} track by story.id">
	</div>
	<center>
	<div class="container">
		<div class="location"><i class="fa fa-map-pin"></i><br>{{story.location}}</div>
			<center>
			<div class="well">
				<img class="img-responsive" ng-src="{{story.imageUploadUrl}}" width="100%">
				<p>{{story.description}}</p></center>
			</div>

<center><a href="javascript:history.back()" text-align="center" class="btn btn-primary">&larr; Back</a>
<a href="/" class="btn btn-primary">Home</a>
<a href="/storys/new" class="btn btn-primary">New Story</a>
</div>