<ng-controller="ShowCtrl">
<h1>Stories</h1>

<a href="/storys/new" class="btn btn-success">New Story</a>

<div class="well" ng-repeat="story in storys | filter:{title:search} track by story.id">
  <h1>{{story.title}}</h1>

<a ng-click="deleteStory(story._id, $index)" class="btn btn-danger glyphicon glyphicon-trash pull-left"></a>
</div>

<h1>{{story.location}}</h1>

  <p>
    {{story.description}}
  </p>
  <img class="img-responsive" ng-src="{{story.imageUploadUrl}}">
</div>

<center><div class="well" align="center">
<a href="javascript:history.back()" text-align="center">&larr; Back</a><br>
<a href="/" class="btn btn-primary">&larr; Home</a>