	<div class="container">
		<div class="header-text">W A N D E R
		</div>
			<iframe style="float: center; margin: 10px" 
src="http://www.panoramio.com/wapi/template/list.html?tag=mountain&amp;width=600&amp;height=400&amp;rows=2&amp;columns=3&amp;orientation=horizontal"
frameborder="0" width="600" height="400" scrolling="no" marginwidth="0" marginheight="0"> </iframe>
	
	<div class="Flexible-container">
		<iframe frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://www.panoramio.com/plugin/?lt=28&amp;ln=-33&amp;z=17&amp;k=2" width="800px" height="400px"></iframe>

		</div>
</div>



<!--   <div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
        <br><br>
        <h1 class="header center black-text text-lighten-2">W A N D E R</h1>
        <div class="row center">
          <h3 class="header col s12 black-text light">Travel Stories</h3>
        </div>
        <br><br>

      </div>
    </div>
    <div class="parallax"><img src="http://www.spitzer.caltech.edu/uploaded_files/other_files/0006/0551/NASA_HiddenUniverse_04.jpg" alt="Unsplashed background img 1"></div>
  </div>


  <div class="container">
    <div class="section"> -->
      <!--   Icon Section   -->
<!--       <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons"></i></h2>
            <h5 class="center">About</h5>

            <p class="light">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
            proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons"></i></h2>
            <h5 class="center">Tell your story</h5>

            <p class="light">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
            proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons"></i></h2>
            <h5 class="center">Top Travel Destinations</h5>

            <p class="light">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
            proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          </div>
        </div>
      </div>

    </div>
  </div>


  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h2 class="header col s12 light">Developer and designer residing in the Seattle area</h2>
        </div>
      </div>
    </div>
    <div class="parallax"><img src="http://i.telegraph.co.uk/multimedia/archive/02357/eso-summary_2357457k.jpg" alt="Unsplashed background img 2"></div>
  </div>

  <div class="container">
    <div class="section">

      <div class="row">
        <div class="col s12 center">
          <h4>About Me</h4>
          <p class="left-align light"><strong>Detail-oriented, self-motivated, and bursting with creative ideas - are apt descriptions of my development and work style.</strong><br>
          My background in design, marketing, and customer service  My passion is making responsive, scalable and user-friendly web interfaces. I am constantly learning and looking for an opportunity to push my boundaries and bring me out of my comfort zone with new and exciting challenges. When I’m working on a project, I put in my all. My interpersonal communication skills have helped me to connect with coworkers and my peers and I strive to be a leader.

          If I'm not working on a new application, game, or responsive web design, I'm exploring nature and going on hikes with my beloved camera in hand. If I'm at home and it's a dreary, rainy Seattle day, I'll cozy up with a good book or bust out the paints and put color to canvas.</p>
        </div>
      </div>

  </div>
    </div>


  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h5 class="header col s12 light"></h5>
        </div>
      </div>
    </div>
    <div class="parallax"><img src="http://i.telegraph.co.uk/multimedia/archive/02357/eso-summary_2357457k.jpg" alt="Unsplashed background img 3"></div>
  </div>

  <footer class="page-footer white">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
        <i class="fa fa-paper-plane-o"></i><br>
          <h5 class="black-text">Contact</h5>
          <p class="black-text text-lighten-4">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
          quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
          consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
          cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
          proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
          </p>


        </div>
        <div class="col l3 s12">
          <h5 class="black-text">Settings</h5>
          <ul>
            <li><a class="black-text" href="#!">Link 1</a></li>
          </ul>
        </div>
        <div class="col l3 s12">
          <h5 class="black-text">Connect</h5>
        <i class="fa fa-github" style="font color:black"></i>&nbsp;&nbsp;Github<br>
        <i class="fa fa-linkedin-square" style="font-color:black"></i>&nbsp;&nbsp;LinkedIn</li>
            
        </div>
      </div>
    </div>
    <div class="footer-copyright black">
      <div class="container">
      Copyright Haylee Nighbert 2015
      </div>
    </div>
  </footer> -->