<div class="header-text">WANDER</div>
  <div class="overlay" onClick="style.pointerEvents='none'"></div>
  <div class="Flexible-container">
    <iframe frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://www.panoramio.com/plugin/?lt=28&amp;ln=-33&amp;z=15&amp;k=2" width="800px" height="400px"></iframe>
    </div>
<!-- 			<iframe style="float: center; margin: 10px" 
src="http://www.panoramio.com/wapi/template/list.html?tag=mountain&amp;width=600&amp;height=400&amp;rows=2&amp;columns=3&amp;orientation=horizontal"
frameborder="0" width="600" height="400" scrolling="no" marginwidth="0" marginheight="0"> </iframe>
	
	<div class="Flexible-container">
		<iframe frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://www.panoramio.com/plugin/?lt=28&amp;ln=-33&amp;z=17&amp;k=2" width="800px" height="400px"></iframe>

		</div>
</div>
 -->

  <div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
        <br><br>
        <h1 class="header center black-text text-lighten-2"></h1>
        <div class="row center">
          <h3 class="header col s12 black-text light">Travel Stories</h3>
        </div>
        <br><br>

      </div>
    </div>
    <div class="parallax"><img src="http://weknowyourdreams.com/images/space/space-09.jpg" alt="Unsplashed background img 1"></div>
  </div>


  <div class="container">
    <div class="section">
      <!--   Icon Section   -->
      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="fa fa-plane"></i></i></h2>

            <h5 class="center">About</h5>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
            proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="fa fa-book"></i></i></h2>
            <h5 class="center">Tell your story</h5>

            <p class="light">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
            proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="fa fa-map-pin"></i></i></h2>
            <h5 class="center">Top Travel Destinations</h5>

            <p class="light">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
            proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          </div>
        </div>
      </div>

    </div>
  </div>


  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h2 class="header col s12 light">Tell Your Story</h2>
        </div>
      </div>
    </div>
    <div class="parallax"><img src="http://mapsof.net/uploads/static-maps/historical_map_paris.jpg"></div>
  </div>

  <div class="container">
    <div class="section">

      <div class="row">
        <div class="col s12 center">
          <h4><i class="fa fa-map-o"></i></h4>
          <p class="left-align light"><strong>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
          quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
          consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
          cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
          proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</strong><br></p>
        </div>
      </div>

  </div>
    </div>


  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h5 class="header col s12 light"></h5>
        </div>
      </div>
    </div>
    <div class="parallax"><img src="http://i.telegraph.co.uk/multimedia/archive/02357/eso-summary_2357457k.jpg" alt="Unsplashed background img 3"></div>
  </div>

  <footer class="page-footer white">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
        <i class="fa fa-paper-plane-o"></i><br>
          <h5 class="black-text">Contact</h5>
          <p class="black-text text-lighten-4">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
          quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
          consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
          cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
          proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
          </p>


        </div>
        <div class="col l3 s12">
          <h5 class="black-text">Settings</h5>
          <ul>
            <li><a class="black-text" href="#!">Link 1</a></li>
          </ul>
        </div>
        <div class="col l3 s12">
          <h5 class="black-text">Connect</h5>
        <i class="fa fa-github" style="font color:black"></i>&nbsp;&nbsp;Github<br>
        <i class="fa fa-linkedin-square" style="font-color:black"></i>&nbsp;&nbsp;LinkedIn</li>
            
        </div>
      </div>
    </div>
    </div>