body {
	font-family: 'Raleway', sans-serif;
	color: black;
	background-image: url("");
	/*background-color: black;*/
	/*position: absolute;*/
	background-repeat: no-repeat;
  	background-attachment: fixed;
  	background-position: center center;
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	background-size: cover;
}



/*.navbar {
	font-weight: bold;
	font-color: #009900;
	text-align: center;
}*/

.header-text {
	font-family: 'Raleway', sans-serif;
	text-align: center;
	letter-spacing: 15px;
	margin: auto 0;
	vertical-align: center;
	font-size: 110px;
	color: navy;
}

/* Flexible iFrame */

.Flexible-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
    pointer-events: none;
}

.Flexible-container iframe,   
.Flexible-container object,  
.Flexible-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.overlay {
   background:transparent; 
   position:relative; 
   width:100%;
   height:400px; /* your iframe height */
   top:400px;  /* your iframe height */
   margin-top:-400px;  /* your iframe height */
}

.well {
	background-color: #ffffcc;
	margin: 30px;
}

.container {
	padding: 20px;
    background-color: #ffffff;
}

.btn {
	font-size: 14px;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  color: #000000;
  padding: 0 15px;
}
.icon-block .material-icons {
  color: #000000;
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}

.fa-cog {
  color: #000000;
}